@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

.carousel-inner .carousel-item img{
    width: 100%;
    height: 100vh;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #fdf910;
}

/* login */
.login {
    background: #f6f7fb;
}
.header-sign-in {
    margin-top: 50px;
    margin-bottom: 50px;
}
.header-sign-in .header-title {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 30px;
}
.form-sign-in {
    padding: 50px 30px 50px 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 247, 251, 1) 100%);
    overflow: hidden;
    border-radius: 8px;
}
.form-sign-in .title-form {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #21272c;
    margin: 0px;
}
.form-sign-in .content-sign-in {
    margin-top: 30px;
}
.title-input-type-primary-tiketsaya {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    color: #21272c;
}
.input-type-primary-tiketsaya {
    background: #fafafa;
    border: 1px solid #ededed;
    color: #21272c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    color: #21272c;
    margin-bottom: 30px;
}
.input-type-primary-tiketsaya:focus {
    background: #d0d7ff;
    border: 1px solid #28a745;
    color: #21272c;
}
.btn-primary-tiketsaya {
    background: #28a745;
    border: 0;
    width: 120px;
    height: 35px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
    -webkit-box-shadow: 0px, 3px, 9px, 0px rgba(32, 61, 209, 0.21);
    -moz-box-shadow: 0px, 3px, 9px, 0px rgba(32, 61, 209, 0.21);
    box-shadow: 0px, 3px, 9px, 0px rgba(32, 61, 209, 0.21);
}
.main-content {
    width: 1000px;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
}
.main-content .header-title {
    font-size: 32px;
    color: #21272c;
    font-weight: 400;
    font-family: 'Montserrat';
    margin: 0px;
}
.main-content .report-group .item-big-report {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 247, 251, 1) 100%);
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
    /* padding-right: 20px;
    padding-left: 20px; */
}
.item-wisata-place {
    margin-top: 10px;
    text-align: center;
    float: left;
}
.item-wisata-place img {
    width: 240px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}
.title-info-wisata-place {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
    color: #21272c;
    margin: 0px;
}
.star {
	font-size: 30px;
	color: #cfcfcf;
	display: inline-block;
}
.over {
	color: #f7c56a;
}
.fix {
	color: #ffa600;
}
.rating {
	margin: 30px 0;
	font-weight: bold;
}
.wrap-user-picture-circle {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid #e6e8f0;
    float: left;
    margin-top: 0px;
}
.primary-user-picture-circle {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: block;
    margin-right: 10px;
    object-fit: cover;
    margin: auto;
    margin-top: 4px;
}
.user-info .user-title {
    font-size: 18px;
    color: #21272c;
    font-weight: bold;
    font-family: 'Montserrat';
    padding-top: 10px;
    margin-left: 12px;
    margin-top: 12px;
}
.user-info .user-subtitle {
    font-size: 14px;
    color: #21272c;
    font-weight: 300;
    font-family: 'Montserrat';
}
a.wishlist {
    text-decoration: none;
    font-size: 14px;
    color: #21272c;
    font-weight: 400;
    font-family: 'Montserrat';
}
a.wishlist:hover {
    font-weight:bold;
}